---
# Just to customize without duplicating style files
---

@import "minima";
// $content-width: 75%;


// Width of the content area
$content-width:    75% !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;

$on-medium:        $on-palm !default;
$on-large:         $on-laptop !default;

